#calc{
    background-color: black;
    color: aqua;
}
#calc:hover{
    background-color: aqua;
    color: black;
    width: 100px;
}
#resultado{
    font-size: 150px;
    color: blue;
    margin-left: 100px;
}